<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Notes Page</h1>
        <a href="/add" class="btn btn-info btn-sm">Add Note</a>
        <a href="/allnotes" class="btn btn-warning btn-sm">View All users notes</a>
        <a href="/profile" class="btn btn-primary btn-sm">Profile</a>
        <a href="/stats" class="btn btn-default btn-sm">View Account Stats</a>
        <a href="/notes" class="btn btn-default btn-sm">Notes</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <% if(message) {%>
        <h2><%= message %></h2>
    <% } %>
    <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <form action="/add" method="post" class="form">
                    <div class="form-group">
                        <p>Title</p>
                        <input type="text" class="form-control" name="title" placeholder="Add title">
                        <br />
                        <p>Date</p>
                        <input type="date" class="form-control" name="dateCreated" placeholder="Add Date">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Add note</button>
                </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>
