<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Statistics Page</h1>
        <a href="/add" class="btn btn-info btn-sm">Add Note</a>
        <a href="/profile" class="btn btn-primary btn-sm">Profile</a>
        <a href="/stats" class="btn btn-default btn-sm">View Account Stats</a>
        <a href="/notes" class="btn btn-default btn-sm">My notes</a>
        <a href="/allnotes" class="btn btn-warning btn-sm">View All users notes</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    

        <div class="jumbotron">
            <h2>Last login date: <%= stats[0].lastLoginDate.toUTCString() %></h2>
            <h2>Register date: <%= stats[0].dateOfRegistration.toUTCString() %></h2>
        </div>
</div>
</body>
</html>
